@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/8af0edd/css/all.css');

html {
    font-size: 13px;
}

body {
    font-family: 'Inter', sans-serif !important;
}

.plain-link {
    text-decoration: none !important;
    color: inherit !important;
}

img {
    max-width: 100%;
}

h1, h2 {
    font-weight: 700;
}

h3, h4, h5, h6 {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

/* Chatbot overidden styles */
.react-chatbot-kit-chat-container {
    position: fixed !important;
    right: 0;
    bottom: 90px;
}

.react-chatbot-kit-chat-btn-send-icon {
    margin: 0 auto;
}

.react-chatbot-kit-chat-container {
    border: 1px solid #f13f17;
    border-radius: 7px;
}
