@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/8af0edd/css/all.css');

body {
    font-family: 'Inter', sans-serif!important;
}

.plain-link {
    text-decoration: none!important;
    color: inherit!important;
}