.maincampusdiv{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 70vh;
    margin-bottom: 10vh;
}
.maincampustextdiv{
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
}
.maincampusimgdiv{
    width: 38%;
    position: relative;
}
.dotimage{
    position: absolute;
    top: 0;
    right: -32%;
    height: 20vh;
    width: 15vw;
    object-fit: cover;
}
.maincampusinnertextdiv h1{
    color: #000000;
    font-size:44px;
    font-weight:600;
    font-family: Inter,sans-serif!important;
}
.maincampusinnertextdiv p{
    color: #222120;
    line-height: 2.2rem; 
    font-size: 1.4rem;
    max-width: 700px;
    text-align: justify;
    font-family: Inter,sans-serif!important;

}
.maincampusinnertextdiv img{
    z-index: -1;
    position: absolute;
    top: 15%;
    left:-30%;
    height: 20vh;
    width: 15vw;
    object-fit: cover;
}
.campusaccordion{
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.1rem;
}
.campusperkssection{
    width:70%;
    /* border: 1px solid #FF6F00; */
    margin: 2rem auto;
    position: relative;
}
.absoluteimg{
    position: absolute;
    top: 65%;
    left: 10%;
    z-index: -1;
    height: 15vh;
    width: 20vw;
}
.campusperkssectionflex{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.campusperkssectionflexdiv1{
    width: 45%;
    /* border-right: 1px solid #FF6F00; */
}
.campusperkssectionflexdiv2{
    width: 50%;
    
}
.leafshapeddiv{
    height: 30vh;
    width: 30vh;
    background: #FFF0E1;
    border-radius: 100px 0px 0px 0px;
    position: relative;
}
.leafshapeddiv h2{
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
    text-align: center;
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: Inter,sans-serif!important;

}
.leafshapeddivpara{
    margin: 2rem auto;
    /* border: 1px solid #FF6F00; */
}
.leafshapeddivpara p{
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.8;
    color: rgb(55, 55, 55);
    text-align: justify;
    font-family: Inter,sans-serif!important;

}
.campusperksgrid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1rem;
    width: 100%;
    /* border: 1px solid green; */
}
.griditem{
    /* border: 1px solid #FF6F00; */
}
.griditem img{
    width: 100%;
    
}
.whatwillwedosection{
    padding: 10vh 0;
    background: #FF80000F;
}
.whatwillheadingdiv{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10vh;
}
.whatwillflexdiv{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex: 1 1 20%;
    justify-content: space-between;
}
.whatwillflexdivinner{
    width: 20%;
}
.whatwillflexdivinner img{
    width: 100%;
    object-fit: contain;
    max-height: 22vh;
}
.whatwillflexdivinner h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    font-family: Inter,sans-serif!important;

}
.whatwillflexdivinner p{
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 1rem;
    opacity: 0.9;
    font-family: Inter,sans-serif!important;
    width: 100%;
    text-align: justify;
}
.campusfaqdivheading{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 10vh auto;
    font-family: Inter,sans-serif!important;
    margin-bottom: 0;
}
/* media query */
@media (max-width:650px) {
    .maincampusdiv{
        flex-direction: column-reverse;
        height: auto;
    }
    .maincampustextdiv{
        width: 100%;
        padding-bottom: 2rem;
    }
    .maincampusimgdiv{
        width: 100%;
    }
    .maincampusinnertextdiv h1{
        font-size: 2.5rem;
    }
    .dotimage{
        display:none;
    }
    .maincampusinnertextdiv img{
        display:none;
    }
    .campusaccordion{
        width: 90%;
    }
    .campusperkssectionflex{
        flex-direction: column;
    }
    .campusperkssectionflexdiv2{
        width: 100%;        
    }
    .campusperkssection{
        width: 90%;
    }
    .absoluteimg{
        display: none;
    }
    .campusperkssectionflexdiv1{
        width: 90%;
        /* border-right: 1px solid #FF6F00; */
    }
    .campusperkssectionflexdiv2{
        width: 90%;
        
    }
    .whatwillflexdiv{
        display: flex;
        width: 80%;
        margin: 0 auto;
        flex-wrap: wrap;
        flex: 1 1 20%;
        justify-content: space-between;
        flex-direction: column;
    }
    .whatwillflexdivinner{
        width: 100%;
    }
}