.maincampusdiv{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 70vh;
}
.maincampustextdiv{
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
}
.maincampusimgdiv{
    width: 38%;
    position: relative;
}
.dotimage{
    position: absolute;
    top: 0;
    right: -32%;
}
.maincampusinnertextdiv h1{
    color: #FF6F00;
    text-transform:uppercase;
    font-size:44px;
    font-weight:600;
}
.maincampusinnertextdiv img{
    z-index: -1;
    position: absolute;
    top: 50%;
    left:-20%;
}
.campusaccordion{
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.1rem;
}
.campusperkssection{
    width:70%;
    /* border: 1px solid #FF6F00; */
    margin: 2rem auto;
    position: relative;
}
.absoluteimg{
    position: absolute;
    top: 65%;
    left: 10%;
    z-index: -1;
}
.campusperkssectionflex{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.campusperkssectionflexdiv1{
    width: 45%;
    /* border-right: 1px solid #FF6F00; */
}
.campusperkssectionflexdiv2{
    width: 50%;
    
}
.leafshapeddiv{
    height: 178px;
    width: 178px;
    background: #FFF0E1;
    border-radius: 100px 0px 0px 0px;
    position: relative;
}
.leafshapeddiv h2{
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
    text-align: center;
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.leafshapeddivpara{
    margin: 2rem auto;
    /* border: 1px solid #FF6F00; */
}
.leafshapeddivpara p{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.8;
    color: rgb(55, 55, 55);
}
.campusperksgrid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1rem;
    width: 100%;
    /* border: 1px solid green; */
}
.griditem{
    /* border: 1px solid #FF6F00; */
}
.griditem img{
    width: 100%;
    
}
.whatwillwedosection{
    padding: 10vh 0;
    background: #FF80000F;
}
.whatwillheadingdiv{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10vh;
}
.whatwillflexdiv{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex: 1 1 20%;
    justify-content: space-between;
}
.whatwillflexdivinner{
    width: 20%;
}
.whatwillflexdivinner img{
    width: 100%;
    object-fit: contain;
}
.whatwillflexdivinner h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}
.whatwillflexdivinner p{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
    opacity: 0.8;
    width: 100%;
}
.campusfaqdivheading{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 10vh auto;
    margin-bottom: 0;
}
/* media query */
@media (max-width:650px) {
    .maincampusdiv{
        flex-direction: column-reverse;
        height: auto;
    }
    .maincampustextdiv{
        width: 100%;
        padding-bottom: 2rem;
    }
    .maincampusimgdiv{
        width: 100%;
    }
    .maincampusinnertextdiv h1{
        font-size: 2.5rem;
    }
    .dotimage{
        display:none;
    }
    .maincampusinnertextdiv img{
        display:none;
    }
    .campusaccordion{
        width: 90%;
    }
}